* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* #stateData2 {
font-family: Ubuntu, sans-serif; 
padding-left: 430px;
} */
/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
/* .wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
} */

/* The footer is positioned at the bottom of the page */
/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #4e5d6c;
} */

/* The code styles the text at the bottom of the footer */
/* .footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
} */

.navbar {
  padding: 5px;
  margin: 0;
}

/* Navbar */
.navbar{
  max-height: 65px;
  background-color: white;  
}
.navigation .navbar-brand{
  color: white; 
  padding: inherit; 
  font-weight: strong; 
  background-color: #0BADA6;
  font-size: 18px;
  font-family: 'Kufam', cursive, Georgia, 'Times New Roman';
}
.nav-link:hover{
  background-color:#E7E7E7 !important;
 }
.navbar-brand:hover{
color: rgb(209, 131, 199) !important;
}
.dropdown-item{
  color: #6D8092 !important; 
}
.dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color:#E7E7E7 !important; 
}

.filters .panel-body {
  padding: 0;
}
.panel-default>.panel-heading {
  background-color: #51c6e9;
  color: #ebebeb;
}
.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/corona-virus.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 200px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}


/* media queries which will only be activated at specific screen sizes */
/* @media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
} */


@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }
  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
